.container{
    min-height: 100vh;
    background-color: #273042;}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnForward, .btnLeft, .btnRight {
    width: 80px;
    height: 45px;
    margin: 0px 50px;
    border-radius: 10%;
    border-style: none;
    box-shadow: 2.5px 5px black;
    color: rgb(218, 206, 100);
    background-color: blueviolet;
}

.planetContainer{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet {
    background-color: rgb(169, 218, 238);
    border: 1px solid;
    width: 400px;
    height: 400px;
    position: relative;
}


.rover {
    background-color: rgb(22, 170, 22);
    position: absolute;
    width: 3px;
    height: 3px;
}


.obstacle {
    background-color: red;
    position: absolute;
    width: 3px;
    height: 3px;
}